.time {
    text-align: center;
    padding: 32px;
}

.time h3 {
    font-size: 32px;
    border-bottom: 4px solid;/*define a borda inferior de um elemento*/
    display: inline-block;
    padding-bottom: 8px; /*define a altura da área de preenchimento na parte inferior de um elemento*/
}

.time .colaboradores {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}